<h1>Search Actors</h1>
<%= form_with url: actors_path, method: :get do %>
  <%= label_tag :actor, 'Actor Name' %>
  <%= text_field_tag :actor, params[:actor] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @actors.present? %>
  <h2>Search Results</h2>
  <h5>Actor Name</h5>
    
  <% @actors.each do |actor| %>
    <ul>
      <li><%= actor.name %></li>
    </ul>
  <% end %>

  <%= will_paginate @actors %>
<% end %>

