<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include actors.css and movies.css -->
  <%= stylesheet_link_tag 'application', 'actors', 'movies' %>
</head>
<body>

<!-- Navigation Links -->
<div class="nav-links">
  <%= link_to 'Actors', actors_path %>
  <%= link_to 'Movies', movies_path %>
</div>

<%= yield %>

</body>
</html>